@import './base.css';
header {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;

  padding-left: 0;
  padding-top: 0;
  padding-right: 0px;
  padding-bottom: 0;    
}
#app {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;

  padding-left: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  
  font-weight: normal;
}

body {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;

  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;    

}
